<div class="right-sidebar">

<h3>Resources</h3>
<ul>
    <li>
    <a href="{{site.basepath}}gsoc">Google Summer of Code</a>
    <p>Find more about participating in the programme, from former students and ROSEdu's members or friends.</p>
    </li>

    <li>
    <a href="{{site.basepath}}donations">2% for ROSEdu</a>
    <p>Learn about the posibility to support us by donating.</p>
    </li>


    <li>
    <a href="{{site.basepath}}legal">Asociația ROSEdu</a>
    <p>Legal information about the NGO supporting ROSEdu.</p>
    </li>

</ul>
</div>
