<div class="right-sidebar">

<h3>Resurse</h3>
<ul>

    <li>
    <a href="{{site.basepath}}partners">Sponsori și Parteneri</a>
    <p>Suntem încântați să prezentăm partenerii care contribuie la îndeplinirea misiunii noastre.</p>
    </li>

    <li>
    <a href="{{site.basepath}}gsoc">Google Summer of Code</a>
    <p>Află mai multe despre cum poți participa în acest program, de la studenți, membrii ROSEdu sau prieteni.</p>
    </li>

    <li>
    <a href="{{site.basepath}}ro/donations">2% pentru ROSEdu</a>
    <p>Află despre cum poți dona pentru a susține ROSEdu.</p>
    </li>

    <li>
    <a href="{{site.basepath}}ro/asociatia">Asociația ROSEdu</a>
    <p>Află informații despre organizația non-profit care susține activitătile comunității ROSEdu.</p>
    </li>

</ul>
</div>
