<div class="right-sidebar">

<h3>Resurse</h3>
<ul>

    <li>
    <a href="{{site.basepath}}partners">Sponsori și Parteneri</a>
    <p>Cu respect vă prezentăm companiile ce contribuie la indeplinirea misiunii noastre.</p>
    </li>

    <li>
    <a href="{{site.basepath}}gsoc">Google Summer of Code</a>
    <p>Află mai multe despre cum poți participa în acest program, de la studenți, membrii ROSEdu sau prieteni.</p>
    </li>
    
    <li>
    <a href="{{site.basepath}}ro/donations">2% pentru ROSEdu</a>
    <p>Află despre cum poți dona pentru a susține ROSEdu.</p>
    </li>

    <li>
    <a href="{{site.basepath}}ro/asociatia">Asociația ROSEdu</a>
    <p>Asociația ROSEdu este o Organizație Non-Guvernamentală non-profit care susține activitățile Comunității.</p>
    </li>

</ul>
</div>
