<div class="calendar">
	<iframe allowtransparency="true" src="https://www.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23e1e1e1&amp;src=rosedu.org%40gmail.com&amp;color=%23853104&amp;src=apve67v2o1l4tp1655sl53nhs8%40group.calendar.google.com&amp;color=%23333333&amp;src=b38n10vlfqu3oa6rvt0ehpmfa4%40group.calendar.google.com&amp;color=%232952A3&amp;src=1e30qh26v4dhf7e8h5eieoit38%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=rosedu.org_7u4qv5ihm9c92b6dsbluardd2c%40group.calendar.google.com&amp;color=%230D7813&amp;ctz=Europe%2FBucharest" style=" border-width:0 " width="490" height="300" frameborder="0" scrolling="no">
	<!-- empty -->
	</iframe>
	<!-- nothing here too -->
</div>

