<div class="right-sidebar">

<h3>Resources</h3>
<ul>

    <li>
    <a href="http://en.wikipedia.org/wiki/Internet_Relay_Chat" target="blank">What IRC is</a>
    <p>IRC (Internet Relay Chat) provides a way of communicating in real time with people from all over the world.</p>
    </li>

    <li>
    <a href="{{site.basepath}}irc">Getting connected</a>
    <p>There are many clients which support IRC. Some of the most popular are
      <a href="http://xchat.org"     style="font-size: 12px" target="blank">XChat,</a>
      <a href="http://www.irssi.org" style="font-size: 12px" target="blank">irssi</a> or even
      <a href="http://www.pidgin.im" style="font-size: 12px" target="blank">Pidgin.</a>
      </p>
    </li>

    <li>
    <a
      href="https://quality.mozilla.org/docs/misc/getting-started-with-irc">Getting started</a>
    <p>You can follow the above link to read some general rules for IRC
    chatting and a tutorial on how to get started with
    <a href="https://addons.mozilla.org/en-Us/firefox/addon/chatzilla"
      style="font-size: 12px" target="blank">ChatZilla -</a>a Firefox Add-on.
    There is also a list of basic commands to make your life easier.</p>
    </li>

</ul>
</div>
