{% if pagination_skip %}
  {% capture pagination_skip %}
    {{pagination_skip | plus: posts_per_page}}
  {% endcapture %}
{% else %}
  {% assign pagination_skip = posts_per_page %}
{% endif %}

<div class="paginate-ro">
  {{ pagination_skip }}
  <span class="paginate-ro-nav-item-prev">
    <a rel="prev" href="{{site.basepath}}ro/news">&larr; View previous page</a>
  </span>
  <span class="paginate-ro-nav-item-next">
    <a rel="next" href="{{site.basepath}}ro/news">View next page &rarr;</a>
  </span>
</div>

