<li>
	<h3><span>Upstream Challenge</span></h3>
	<div>
	<figure>
		<a href='http://uc.rosedu.org/'><img alt='' src='{{site.basepath}}resources/promo/uc_promo_banner.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>Community &amp; Dev Lab</span></h3>
	<div>
	<figure>
		<a href='http://cdl.rosedu.org/'><img alt='' src='{{site.basepath}}resources/promo/cdl_promo_banner.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>λ.rosedu.org</span></h3>
	<div>
	<figure>
		<a href="http://haskell-ro.github.io/lambda.rosedu.org/"><img alt='' src="{{site.basepath}}resources/promo/lambda_promo_banner.png" /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>ROSEdu Summer of Code</span></h3>
	<div>
	<figure>
		<a href='http://soc.rosedu.org/'><img alt='' src='{{site.basepath}}resources/promo/soc_promo_banner.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>Cursuri Linux</span></h3>
	<div>
	<figure>
		<a href='http://lpi.rosedu.org/'><img alt='' src='{{site.basepath}}resources/promo/lpi_promo_banner.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>ROSEdu Tech Talks</span></h3>
	<div>
	<figure>
		<a href='http://talks.rosedu.org/'><img alt='' src='{{site.basepath}}resources/promo/talks_promo_banner.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>ROSEdu Hack Day</span></h3>
	<div>
	<figure>
		<a href='http://hackday.rosedu.org/'><img alt='' src='{{site.basepath}}resources/promo/hackday_promo_banner.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>ROSEdu Summer Workshops</span></h3>
	<div>
	<figure>
		<a href='http://workshop.rosedu.org/'><img alt='' src='{{site.basepath}}resources/promo/workshop_promo_banner.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>Open Source Summer School</span></h3>
	<div>
	<figure>
		<a href='http://open-source.cs.pub.ro/'><img alt='' src='{{site.basepath}}resources/promo/osss_promo_banner.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>WebDev</span></h3>
	<div>
	<figure>
		<a href='http://webdev.rosedu.org'><img alt='' src='{{site.basepath}}resources/promo/webdev_promo_banner.png' /></a>
	</figure>
	</div>
</li>

