<dt>WebDev</dt>
<dd>
<p class="rteleft">
<a href="http://webdev.rosedu.org"><img alt="" src="http://swarm.cs.pub.ro/~dfilimon/WebDevRoseduEn.png" /></a></p>
</dd>

<dt>Community &amp; Development Lab</dt>
<dd>
<p>
	<a href="http://cdl.rosedu.org/2012/english"><img alt="" height="211" src="http://cdl.rosedu.org/2011/_media/banner_home.png" width="757" /></a>
</p>
</dd>

<dt>Make a Donation</dt>
<dd>
<p><strong>Make a Donation</strong><br/></p>
<p>
	<strong>How?</strong><br />
	Make a donation in ROSEdu&#39;s account:&nbsp;<strong>RO98BTRL04501205R50291XX</strong>, Banca Transilvania S.A.<br />
        <a href="http://doilasuta.ro/">Donate 2%</a>&nbsp;from your state tax, using&nbsp;<a href="{{site.basepath}}files/Decl_230_ROSEDu.pdf">Form 230</a>&nbsp;(already filled in with ROSEdu&#39;s data). The deadline is&nbsp;<strong>May 15 2012</strong>.<br />
	<br />
	<strong>Why?</strong><br />
	In order to continually develop our projects, ROSEdu needs an annual buget to cover the costs of each program. By making a donation, you can help us in our mission of bringing open-source to Romanian students.<br />
	<br />
	<strong>Sponsors</strong>.<br />
        We are always searching for sponsors and partnerships for our programs. You can support ROSEdu&#39;s programs and, in exchange, we&#39;ll help you gain good visibility among the students and graduates that participate in our programs or attend our presentations. To find out more, do not hesitate to&nbsp;<a href="{{site.basepath}}contact">contact us</a>!</p>
</dd>


<dt>ROSEdu Tech Talks</dt><dd><p>
	<a href="http://talks.rosedu.org/"><img alt="" src="http://rosedu.org/sites/default/files/rtt-promo.png" /></a></p>
</dd>

<dt>ROSEdu Hack Day</dt><dd><p>
	<a href="http://hackday.rosedu.org/"><img alt="" src="http://rosedu.org/sites/default/files/rhd.PNG" /></a></p>
</dd>

<dt>ROSEdu Summer of Code</dt><dd><p>
	<a href="http://soc.rosedu.org/"><img alt="" src="http://rosedu.org/sites/default/files/rsoc-promo.png" /></a></p>
</dd>			
