<li>
	<h3><span>ROSEdu Summer of Code</span></h3>
	<div>
	<figure>
		<a href='http://soc.rosedu.org/'><img alt='' src='{{site.basepath}}resources/promo/rsoc-promo.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>Cursuri Linux</span></h3>
	<div>
	<figure>
		<a href='http://lpi.rosedu.org/'><img alt=''src='{{site.basepath}}resources/promo/lpi.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>Community &amp; Dev Lab</span></h3>
	<div>
	<figure>
		<a href='http://cdl.rosedu.org/2013/'><img alt='' src='{{site.basepath}}resources/promo/cdl_banner.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>Upstream Challenge</span></h3>
	<div>
	<figure>
		<a href='http://uc.rosedu.org/'><img alt='' src='{{site.basepath}}resources/promo/upstream-challenge.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>ROSEdu Tech Talks</span></h3>
	<div>
	<figure>
		<a href='http://talks.rosedu.org/'><img alt='' src='{{site.basepath}}resources/promo/rtt-promo.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>ROSEdu Hack Day</span></h3>
	<div>
	<figure>
		<a href='http://hackday.rosedu.org/'><img alt='' src='{{site.basepath}}resources/promo/rhd.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>ROSEdu Summer Workshops</span></h3>
	<div>
	<figure>
		<a href='http://workshop.rosedu.org/'><img alt='' src='{{site.basepath}}resources/promo/rsw-promo.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>D'Android</span></h3>
	<div>
	<figure>
		<a href="http://android.rosedu.org/"><img alt='' src="{{site.basepath}}resources/promo/dandroid-2012.png" /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>WebDev</span></h3>
	<div>
	<figure>
		<a href='http://webdev.rosedu.org'><img alt='' src='{{site.basepath}}resources/promo/WebDevRoseduEn.png' /></a>
	</figure>
	</div>
</li>
<li>
	<h3><span>Open Source Summer School</span></h3>
	<div>
	<figure>
		<a href='http://open-source.cs.pub.ro/'><img alt='' src='{{site.basepath}}resources/promo/osss_banner.png' /></a>
	</figure>
	</div>
</li>

