<dt>ROSEdu Summer Workshops</dt><dd><p>
<a href="http://workshop.rosedu.org/"><img alt="" src="{{site.basepath}}resources/promo/rsw-promo.png" /></a></p>
</dd>

<dt>ROSEdu Summer of Code</dt><dd><p>
<a href="http://soc.rosedu.org/"><img alt="" src="{{site.basepath}}resources/promo/rsoc-promo.png" /></a></p>
</dd>

<dt>WebDev</dt>
<dd>
<p class="rteleft">
<a href="http://webdev.rosedu.org"><img alt="" src="{{site.basepath}}resources/promo/WebDevRoseduEn.png" /></a></p>
</dd>

<dt>Community &amp; Development Lab</dt>
<dd>
<p>
<a href="http://cdl.rosedu.org/2012/english"><img alt="" height="211" src="{{site.basepath}}resources/promo/cdl_banner.png" width="757" /></a>
</p>
</dd>

<dt>ROSEdu Tech Talks</dt><dd><p>
<a href="http://talks.rosedu.org/"><img alt="" src="{{site.basepath}}resources/promo/rtt-promo.png" /></a></p>
</dd>

<dt>ROSEdu Hack Day</dt><dd><p>
<a href="http://hackday.rosedu.org/"><img alt="" src="{{site.basepath}}resources/promo/rhd.png" /></a></p>
</dd>

