<li>
	<h3><span>D'Android</span></h3>
	<div>
	<figure>
		<a href="http://android.rosedu.org/"><img alt='' src="../resources/promo/dandroid-2012.png" /></a>
		<figcaption>D'Android</figcaption>
	</figure>
	</div>
</li>
<li>
	<h3><span>WebDev</span></h3>
	<div>
	<figure>
		<a href='http://webdev.rosedu.org'><img alt='' src='../resources/promo/WebDevRoseduEn.png' /></a>
		<figcaption>Couldn't find an image of a Khajit thief! Fail!</figcaption>
	</figure>
	</div>
</li>
<li>
	<h3><span>ROSEdu Tech Talks</span></h3>
	<div>
	<figure>
		<a href='http://talks.rosedu.org/'><img alt='' src='../resources/promo/rtt-promo.png' /></a>
		<figcaption>That's one angry looking red dude.</figcaption>
	</figure>
	</div>
</li>
<li>
	<h3><span>ROSEdu Hack Day</span></h3>
	<div>
	<figure>
		<a href='http://hackday.rosedu.org/'><img alt='' src='../resources/promo/rhd.png' /></a>
		<figcaption>Was fun for a couple of hours or so...</figcaption>
	</figure>
	</div>
</li>
<li>
	<h3><span>Community &amp; Dev Lab</span></h3>
	<div>
	<figure>
		<a href='http://cdl.rosedu.org/2012/english'><img alt='' src='../resources/promo/cdl_banner.png' /></a>
		<figcaption>Not as good as Hot Pursuit.</figcaption>
	</figure>
	</div>
</li>
<li>
	<h3><span>ROSEdu Summer of Code</span></h3>
	<div>
	<figure>
		<a href='http://soc.rosedu.org/'><img alt='' src='../resources/promo/rsoc-promo.png' /></a>
		<figcaption>Not as good as Hot Pursuit.</figcaption>
	</figure>
	</div>
</li>
<li>
	<h3><span>ROSEdu Summer Workshops</span></h3>
	<div>
	<figure>
		<a href='http://workshop.rosedu.org/'><img alt='' src='../resources/promo/rsw-promo.png' /></a>
		<figcaption>Not as good as Hot Pursuit.</figcaption>
	</figure>
	</div>
</li>
<li>
	<h3><span>Open Source Summer School</span></h3>
	<div>
	<figure>
		<a href='http://open-source.cs.pub.ro/'><img alt='' src='../resources/promo/osss_banner.png' /></a>
		<figcaption>Not as good as Hot Pursuit.</figcaption>
	</figure>
	</div>
</li>