<!doctype html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="Description" content="ROSEdu is an organization based on a community formed by programming and open-source software enthusiasts, in the educational environment." />
	<title>ROSEdu - Romanian Open Source Education</title>
	<link rel="shortcut icon" href="{{site.basepath}}resources/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="{{site.basepath}}resources/css/style.css" />
	<script type="text/javascript" src="{{site.basepath}}resources/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="{{site.basepath}}resources/js/application.js"></script>
	<script type="text/javascript" src="{{site.basepath}}resources/js/cufon-yui.js"></script>
      <script type="text/javascript" src="{{site.basepath}}resources/js/Cambria_400_2300.font.js"></script>
	<script type="text/javascript">
	  Cufon.replace('h1, h2, h3');
	  Cufon.replace('#header-menu', {hover:true});
	</script> 
        <link href="{{site.basepath}}resources/css/liteaccordion.css" rel="stylesheet" /><!-- liteAccordion css -->     
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script><!-- jQuery -->
        <script src="{{site.basepath}}resources/js/liteaccordion.jquery.js"></script><!-- liteAccordion js -->
	
  </head>
  <body>
	<div id="wrapper">
	  <div id="header">
		<a href="{{site.basepath}}" id="logo-header"></a>

		<div id="header-right">
		<div id="flags-container">
                    <a href="/ro" id="ro-flag" class="flag ro-flag-grayed-out">
				<h2>H</h2>
			</a>
                        <a href="{{site.basepath}}" id="en-flag" class="flag en-flag-full">
				<h2>H</h2>
			</a>
		</div>

        <form action="http://www.google.com/search" class="navigation-search" method="get" name="form1">
            <a href="#" onclick="javascript:form1.submit()" id="search-icon"></a>
            <input id="search" class="search-query" name="q" placeholder="Search..." type="text">
            <input name="sitesearch" type="hidden" value="rosedu.org">
        </form>

		<!-- <a href="javascript:void(0);" id="auth-button">Autentificare</a> -->

		<div id="header-menu">
		  menu[] = { <a href="{{site.basepath}}">home</a>,
          <a href="{{site.basepath}}activities">activities</a>,
          <a href="{{site.basepath}}news">news</a>,
          <a href="{{site.basepath}}aboutus">about us</a>,
          <a href="{{site.basepath}}contact">contact</a>,
          <a href="{{site.basepath}}partners">partners</a> };
		</div><!-- #header-menu -->


		<div class="clear">
		  <!-- -->
		</div><!-- .clear -->
		</div>
	  </div><!-- #header -->

        {% if page.title %}
        <h2>{{page.title}}</h2>
        <div class="entry-meta">
        Published by {{page.author}} at {{page.date | date: '%d %B %Y'}}
        </div>
        {% endif %}

{{ content }}

	  <div class="separator clear">
		<!-- -->
	  </div><!-- .separator .clear -->

	  <div id="footer">
		<a href="#" id="logo-footer"></a>

		<div id="footer-menu">
		  Copyright &copy; 2007 - 2012 <a href="#">ROSEdu</a>
		  <br />
		  <a href="{{site.basepath}}">Home</a> |
          <a href="{{site.basepath}}activities">Activities</a> |
          <a href="{{site.basepath}}news">News</a> |
          <a href="{{site.basepath}}aboutus">About us</a> |
          <a href="{{site.basepath}}credits">Credits</a> |
          <a href="{{site.basepath}}contact">Contact</a>
		</div><!-- #footer-menu -->

		<div class="clear">
		  <!-- -->
		</div><!-- .clear -->
	  </div><!-- #footer -->
	</div><!-- #wrapper -->

	<script type="text/javascript">
	  Cufon.now();
	</script>

   <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{site.ganalytics}}']);
  _gaq.push(['_trackPageview']);

  (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

	<script>
	(function($, d) {
	$('#accordion').liteAccordion({
		containerWidth : 930,                   // fixed (px)  
		containerHeight : 300, 
		onTriggerSlide : function() {
			this.find('figcaption').fadeOut();
		},
		onSlideAnimComplete : function() {    
			this.find('figcaption').fadeIn();
		},
		autoPlay : false,
		autoScaleImages : true,
		pauseOnHover : true,
		theme : 'light',
		rounded : false,
		easing: false,
		enumerateSlides : false                  
	}).find('figcaption:first').show();
	})(jQuery, document);
</script>
  
  </body>
</html>
