<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="Description" content="ROSEdu is an organization based on a community formed by programming and open-source software enthusiasts, in the educational environment." />
    <title>ROSEdu - Romanian Open Source Education</title>
    <link rel="shortcut icon" href="{{site.basepath}}resources/favicon.ico" />
    <link rel="stylesheet" href="{{site.basepath}}resources/css/style.css">
    <link rel="stylesheet" href="{{site.basepath}}resources/css/liteaccordion.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <a href="{{site.basepath}}" id="logo-header"></a>

        <div id="header-right">
        <ul class="header-ul">
        <li><a href="http://www.facebook.com/rosedu.org">
            <img class="social-logo" src="{{site.basepath}}resources/images/icon-facebook.png" /></a></li>
        <li><a href="http://twitter.com/rosedu_org">
            <img class="social-logo" src="{{site.basepath}}resources/images/icon-twetter.png" /></a></li>
        <li><a href="https://plus.google.com/114233516141809762907?prsrc=3">
            <img class="social-logo" src="{{site.basepath}}resources/images/icon-gplus.png" /></a></li>
        <li><a href="http://www.instagram.com/rosedu_org">
            <img class="social-logo" src="{{site.basepath}}resources/images/logo-instagram.png" /></a></li>
        <li><a href="http://www.youtube.com/user/roseduorg">
            <img class="social-logo" src="{{site.basepath}}resources/images/icon-ytube.png" /></a></li>
        <li><a href="http://planet.rosedu.org/rss20.xml">
            <img class="social-logo" src="{{site.basepath}}resources/images/icon-rss.png" /></a></li>
        <li><a href="{{site.basepath}}irc">
            <img class="social-logo" src="{{site.basepath}}resources/images/icon-irc.png" /></a></li>
        <li><a href="{{site.basepath}}ro">
            <img class="social-logo" src="{{site.basepath}}resources/images/icon-ro.png" /></a></li>
        </ul>

    <form action="http://www.google.com/search" class="navigation-search" method="get" name="form1">
            <a href="#" onclick="javascript:form1.submit()" id="search-icon"></a>
            <input id="search" class="search-query" name="q" placeholder="Search..." type="text">
            <input name="sitesearch" type="hidden" value="rosedu.org">
        </form>

        <!-- <a href="javascript:void(0);" id="auth-button">Autentificare</a> -->

        <div id="header-menu">
            menu[] = { <a href="{{site.basepath}}">home</a>,
            <a href="{{site.basepath}}activities"> activities</a>,
            <a href="{{site.basepath}}news"> news</a>,
            <a href="{{site.basepath}}aboutus"> about us</a>,
            <a href="{{site.basepath}}legal"> association</a>,
            <a href="{{site.basepath}}contact"> contact</a>,
            <a href="{{site.basepath}}partners"> partners</a>,
            <a href="http://people.rosedu.org"> people</a>,
            <a href="{{site.basepath}}events"> events</a> };
        </div><!-- #header-menu -->
        <div class="clear"></div>
        </div>
      </div><!-- #header -->

        {% if page.title %}
        <h2>{{page.title}}</h2>
        <div class="entry-meta">
        Published by {{page.author}} at {{page.date | date: '%d %B %Y'}}
        </div>
        {% endif %}

    {{ content }}

    <div class="separator clear"></div>
    <div id="footer">
        <a href="#" id="logo-footer"></a>
        <div id="footer-menu">
            Copyright &copy; 2007 - 2015 <a href="#">ROSEdu</a><br />
            <ul class="footer-ul">
            <li><a href="{{site.basepath}}">Home</a></li>
            <li><a href="{{site.basepath}}activities">Activities</a></li>
            <li><a href="{{site.basepath}}aboutus">About us</a></li>
            <li><a href="{{site.basepath}}credits">Credits</a></li>
            <li><a href="{{site.basepath}}contact">Contact</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div><!-- #footer -->
    </div><!-- #wrapper -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{site.basepath}}resources/js/liteaccordion.jquery.js"></script>
    <script src="{{site.basepath}}resources/js/application.js"></script>
    <script src="{{site.basepath}}resources/js/cufon-yui.js"></script>
    <script src="{{site.basepath}}resources/js/Cambria_400_2300.font.js"></script>
    <script>

    Cufon.replace('h1, h2, h3');
    Cufon.replace('#header-menu', {hover:true});
    Cufon.now();

    // Google Analytics
    var _gaq=[['_setAccount','{{site.ganalytics}}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));

    (function($, d) {
        $('#accordion').liteAccordion({
            containerWidth : 930, // fixed (px)
            containerHeight : 300,
            onTriggerSlide : function() {
                this.find('figcaption').fadeOut();
            },
            onSlideAnimComplete : function() {
                this.find('figcaption').fadeIn();
            },
            autoPlay : false,
            autoScaleImages : true,
            pauseOnHover : true,
            theme : 'light',
            rounded : false,
            easing: false,
            enumerateSlides : false
        }).find('figcaption:first').show();

        $('.event-title').click(function(){
            $(this).parent().next("div").slideToggle('slow');
            return false;
        });
    })(jQuery, document);

    </script>
  </body>
</html>
