<!doctype html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>ROSEdu - Romanian Open Source Education</title>
	<link rel="shortcut icon" href="resources/images/favicon.png" />
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script type="text/javascript" src="resources/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="resources/js/application.js"></script>
	<script type="text/javascript" src="resources/js/cufon-yui.js"></script>
	<script type="text/javascript" src="resources/js/Cambria_400.font.js"></script>
	<script type="text/javascript">
	  Cufon.replace('h1, h2');
	  Cufon.replace('#header-menu', {hover:true});
	</script>
	{{ page.extra_head }}
  </head>
  <body>
	<div id="wrapper">
	  <div id="header">
		<a href="#" id="logo-header"></a>

		<div id="header-right">
		<div id="flags-container">
			<a href="/ro" id="ro-flag" class="flag ro-flag-grayed-out">
				<h2>H</h2>
			</a>
			<a href="/" id="en-flag" class="flag en-flag-full">
				<h2>H</h2>
			</a>
		</div>

		<a href="#" id="search-icon"></a>
		<input id="search" type="text" value="Search..." />

		<!-- <a href="javascript:void(0);" id="auth-button">Autentificare</a> -->

		<div id="header-menu">
		  menu[] = { <a href="#">home</a>, <a href="#">activities</a>, <a href="#">news</a>, <a href="#">about us</a>, <a href="#">contact</a> };
		</div><!-- #header-menu -->

		<div class="clear">
		  <!-- -->
		</div><!-- .clear -->
		</div>
	  </div><!-- #header -->

{{ content }}

	  <div class="separator clear">
		<!-- -->
	  </div><!-- .separator .clear -->

	  <div id="footer">
		<a href="#" id="logo-footer"></a>

		<div id="footer-menu">
		  Copyright &copy; 2007 - 2012 <a href="#">ROSEdu</a>
		  <br />
		  <a href="#">Home</a> | <a href="#">Activities</a> | <a href="#">News</a> | <a href="#">About us</a> | <a href="#">Contact</a>
		</div><!-- #footer-menu -->

		<div class="clear">
		  <!-- -->
		</div><!-- .clear -->
	  </div><!-- #footer -->
	</div><!-- #wrapper -->

	<script type="text/javascript">
	  Cufon.now();
	</script>
  </body>
</html>
