<!doctype html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="Description" content="ROSEdu este o organizație bazată pe o comunitate de oameni pasionați de programare și software liber, în mediul educațional." />
	<title>ROSEdu - Romanian Open Source Education</title>
	<link rel="shortcut icon" href="{{site.basepath}}resources/images/favicon.png" />
	<link rel="stylesheet" href="{{site.basepath}}resources/css/style.css">
	<link rel="stylesheet" href="{{site.basepath}}resources/css/liteaccordion.css">
  </head>
  <body>
	<div id="wrapper">
	  <div id="header">
		<a href="{{site.basepath}}ro" id="logo-header"></a>

		<div id="header-right">
                <ul class="header-ul">
                <li><a href="http://www.facebook.com/rosedu.org">
                        <img src="{{site.basepath}}resources/images/icon-facebook.png" /></a></li>
                <li><a href="http://twitter.com/rosedu_org">
                        <img src="{{site.basepath}}resources/images/icon-twetter.png" /></a></li>
                <li><a href="https://plus.google.com/114233516141809762907?prsrc=3">
                        <img src="{{site.basepath}}resources/images/icon-gplus.png" /></a></li>
                <li><a href="http://www.youtube.com/user/roseduorg">
                        <img src="{{site.basepath}}resources/images/icon-ytube.png" /></a></li>
                <li><a href="http://planet.rosedu.org/rss20.xml">
                        <img src="{{site.basepath}}resources/images/icon-rss.png" /></a></li>
                <li><a href="{{site.basepath}}irc">
                        <img src="{{site.basepath}}resources/images/icon-irc.png" /></a></li>
                <li><a href="{{site.basepath}}">
                        <img src="{{site.basepath}}resources/images/icon-en.png" /></a></li>
                </ul>

        <form action="http://www.google.com/search" class="navigation-search" method="get" name="form1">
            <a href="#" onclick="javascript:form1.submit()" id="search-icon"></a>
            <input id="search" class="search-query" name="q" placeholder="Caută..." type="text">
            <input name="sitesearch" type="hidden" value="rosedu.org">
        </form>

		<!-- <a href="javascript:void(0);" id="auth-button">Autentificare</a> -->

		<div id="header-menu">
			meniu[] = { <a href="{{site.basepath}}ro">acasă</a>,
			<a href="{{site.basepath}}ro/activities"> activități</a>,
			<a href="{{site.basepath}}ro/news_0"> știri</a>,
			<a href="{{site.basepath}}ro/aboutus"> despre</a>,
			<a href="{{site.basepath}}ro/asociatia"> asociatia</a>,
			<a href="{{site.basepath}}ro/contact"> contact</a>,
			<a href="{{site.basepath}}partners"> parteneri</a>,
			<a href="http://people.rosedu.org"> oameni</a>,
			<a href="{{site.basepath}}ro/evenimente"> evenimente</a> };
		</div><!-- #header-menu -->

		<div class="clear">
		  <!-- -->
		</div><!-- .clear -->
		</div>
	  </div><!-- #header -->

        {% if page.title %}
        <h2>{{page.title}}</h2>
        <div class="entry-meta">
        Publicat de {{page.author}} la {{page.date | date: '%d %B %Y'}}
        </div>
        {% endif %}

{{ content }}

	<div class="separator clear"></div>
        <div id="footer">
                <a href="#" id="logo-footer"></a>
                <div id="footer-menu">
                        Copyright &copy; 2007 - 2014 <a href="#">ROSEdu</a><br />
                        <ul class="footer-ul">
                        <li><a href="{{site.basepath}}ro">Acasa</a></li>
                        <li><a href="{{site.basepath}}ro/activities">Activitati</a></li>
                        <li><a href="{{site.basepath}}ro/aboutus">Despre</a></li>
                        <li><a href="{{site.basepath}}ro/credits">Credite</a></li>
                        <li><a href="{{site.basepath}}ro/contact">Contact</a></li>
                        </ul>
                </div>
                <div class="clear"></div>
        </div><!-- #footer -->
	</div><!-- #wrapper -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{{site.basepath}}resources/js/application.js"></script>
	<script src="{{site.basepath}}resources/js/cufon-yui.js"></script>
	<script src="{{site.basepath}}resources/js/Cambria_400_2300.font.js"></script>
	<script src="{{site.basepath}}resources/js/liteaccordion.jquery.js"></script>
	<script>

	Cufon.replace('h1, h2, h3');
	Cufon.replace('#header-menu', {hover:true});
	Cufon.now();

	// Google Analytics
	var _gaq=[['_setAccount','{{site.ganalytics}}'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));

	(function($, d) {
		$('#accordion').liteAccordion({
			containerWidth : 930, // fixed (px)
			containerHeight : 300, 
			onTriggerSlide : function() {
				this.find('figcaption').fadeOut();
			},
			onSlideAnimComplete : function() {    
				this.find('figcaption').fadeIn();
			},
			autoPlay : false,
			autoScaleImages : true,
			pauseOnHover : true,
			theme : 'light',
			rounded : false,
			easing: false,
			enumerateSlides : false
		}).find('figcaption:first').show();

		$(function(){
			$('.event-title').click(function(){
				$(this).parent().next("div").slideToggle('slow');
				return false;
			});
		});
	})(jQuery, document);

	</script>
  </body>
</html>
